<%
page.layout = "about"
page.title = __('about.title')
page.subtitle = __('about.subtitle')
page.banner_img = page.banner_img || theme.banner_img
page.banner_img_height = 60
page.banner_mask_alpha = 0.3
%>

<div class="text-center">
  <div class="about-info">
    <div class="about-name"><%- config.author %></div>
    <div class="about-intro"><%- config.description %></div>
  </div>
</div>

<article class="about-content page-content mt-5">
  <div class="markdown-body">
    <%- page.content %>
  </div>
</article>

