// font
// $font-size = theme-config("font.font_size", "16px")
$font-size = 16px
$letter-spacing = 0.02em
$font-family = var(--font-family-sans-serif)
$code-font-size = 85%

// body
$body-bg-color = #fff
$body-bg-color-dark = #181818

// text
$text-color = #000
$text-color-dark = #dbdbdb
$sec-text-color = #000
$sec-text-color-dark = #e6e6e6

// post
$post-text-color = #000
$post-text-color-dark = #c8c8c8
$post-heading-color = #000
$post-heading-color-dark = #d0d0d0
$post-link-color = #2c3e50
$post-link-color-dark = #c4c6c9
$link-hover-color = #30a9de
$link-hover-color-dark = #30a9de
$link-hover-bg-color = #ebedef
$link-hover-bg-color-dark = #3d424b
$line-color = #eaecef
$line-color-dark = #435266
$button-bg-color = #f6f8fa
$button-bg-color-dark = #2f4154
$button-hover-bg-color = #f2f3f5
$button-hover-bg-color-dark = #46647e

// navbar
$navbar-bg-color = #000
$navbar-bg-color-dark = #000
$navbar-text-color = #fff
$navbar-text-color-dark = #d0d0d0
$navbar-glass-enable = false
$navbar-glass-px = 0px
$navbar-glass-alpha = 0

// banner
$banner-width-height-ratio = 0

// subtitle
$subtitle-color = #fff
$subtitle-color-dark = #d0d0d0

// scroll arrow
$scroll-arrow-height-limit = 0

// board
$board-bg-color = #fff
$board-bg-color-dark = #252d38

// scrollbar
$scrollbar-color = #c4c6c9
$scrollbar-color-dark = #687582
$scrollbar-hover-color = #a6a6a6
$scrollbar-hover-color-dark = #9da8b3

// code
$highlight-bg-color = #f6f8fa
$highlight-bg-color-dark = #2d333b
$inlinecode-bg-color = rgba(175, 184, 193, .2)
$inlinecode-bg-color-dark = rgba(99, 110, 123, .4)

// shadow
$img-shadow = 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
