.lnote-popover-btn
    --bs-btn-padding-y: 0
    --bs-btn-line-height: 1
.lnote-popover
    --bs-popover-border-color: var(--bs-primary)
    --bs-popover-header-bg: var(--bs-primary)
    --bs-popover-header-color: var(--bs-white)
    --bs-popover-body-padding-x: 1rem
    --bs-popover-body-padding-y: .5rem