<%
var banner_img = page.banner_img || theme.banner_img
var subtitle = page.subtitle || page.title
%>

<div id="banner" class="banner" parallax=true
     style="background: url('<%- url_for(banner_img) %>') no-repeat center center; background-size: cover;">
  <div class="full-bg-img">
    <div class="mask flex-center" style="background-color: rgba(0, 0, 0, 0.3)">
      <div class="banner-text text-center fade-in-up">
        <div class="h2">
            <span id="subtitle" data-typed-text="<%= subtitle %>"></span>
        </div>

        <% if (is_post()) { %>
          <%- inject_point('postMetaTop') %>
        <% } %>
      </div>
      <% if(!is_post()) { %>
        <div class="scroll-down-bar"><i class="iconfont icon-arrowdown"></i></div>
      <% } %>
    </div>
  </div>
</div>
