.markdown-body
  .highlight pre, pre
    padding 1.45rem 1rem

  pre code.hljs
    padding 0

  .highlight
    position relative
    border-radius 8px
    padding-top: 28px
    background-color: var(--code-mac-top-bg)
    &::before
      background: #fc625d
      border-radius: 50%
      box-shadow: 1.2em 0 #fdbc40, 2.4em 0 #35cd4b
      content: ' '
      height: 0.8em
      width: 0.8em
      left: 0.8em
      margin-top: -1.2em
      position: absolute
    .btn-clipboard
      position: absolute
      top: 0.3em
      right: 0.5em
      cursor: pointer
      z-index: 2
      border: 0
      background-color: transparent
      padding: 0
      line-height: 1
    table
      background-color: var(--code-mac-body-bg)
      table-layout: fixed
      width: 100%

figure
  margin 1rem 0

figure.highlight
  position relative

  table
    border 0
    margin 0
    width auto
    border-radius 4px

  td
    border 0
    padding 0

  tr
    border 0

  td.code
    width 100%

  td.gutter
    display table-cell
    width: 3em

    pre
      text-align right
      padding 0 .75rem
      border-radius initial
      border-right 1px solid #999

      span.line
        color #999

  td.code > pre
    border-top-left-radius 0
    border-bottom-left-radius 0
