// popover
.lnote-popover-btn
    --bs-btn-padding-y 0
    --bs-btn-padding-x 0.28rem
    --bs-btn-line-height 1
.lnote-popover
    --bs-popover-border-color var(--bs-primary)
    --bs-popover-body-padding-x 0
    --bs-popover-body-padding-y 0
    --bs-popover-bg transparent
    &.secondary
      --bs-popover-border-color var(--bs-secondary)
    &.info
      --bs-popover-border-color var(--bs-info)
    &.success
      --bs-popover-border-color var(--bs-success)
    &.warning
      --bs-popover-border-color var(--bs-warning)
    &.danger
      --bs-popover-border-color var(--bs-danger)
    &.light
      --bs-popover-border-color var(--bs-light)
    &.dark
      --bs-popover-border-color var(--bs-dark)

// note
.note
  border-left 0.35rem solid
  margin 1.5rem 0
  transition color .2s ease-in-out
  a
    color var(--text-color)
    transition color .2s ease-in-out

  *:last-child
    margin-bottom 0

// group-image
.group-image-container
  margin 1rem auto
  img
    width 100%
    height 100%
  .image-adapter
    padding-bottom 100%
    position relative
    > div
      width 100%
      height 100%
      position absolute
      left 0
      top 0
      z-index 2

// chat
.chat
  header
    padding-bottom: 6px
  .sender, .responder
    position: relative
    background-color: var(--chat-sender)
    margin: 30px 56px 40px
    padding: 0
    border-radius: 6px
    display: flex
    background-color: transparent
    &::before
      content: attr(title)
      position: absolute
      top: -28px
      font-size: 0.8rem
      font-weight: bold
      text-decoration-line: underline
      cursor: pointer
      opacity: 0.65
    &::after
      content: ""
      display: block
      width: 40px
      height: 40px
      border-radius: 6px
      position: absolute
      top: 0px
    > p
      background-color: var(--chat-sender)
      margin-bottom: 0
      padding: 8px 12px
      word-break: break-all
      border-radius: 6px
      max-width: 86%
  .sender
    &::before
      left: -50px
    &::after
      background: url(/blog/img/xinzhizhu.jpg) no-repeat center/100%
      left: -50px
  .responder
    background-color: transparent
    text-align: left
    justify-content: end
    &::before
      right: -50px
    &::after
      background: url(/blog/img/fengjian.jpg) no-repeat center/100%
      right: -52px
    > p
      background-color: var(--the-chat-responder)