

// popover
.lnote-popover-btn
    --bs-btn-padding-y 0
    --bs-btn-padding-x 0.28rem
    --bs-btn-line-height 1
.lnote-popover
    --bs-popover-border-color var(--bs-primary)
    --bs-popover-header-bg var(--bs-primary)
    --bs-popover-header-color var(--bs-white)
    --bs-popover-body-padding-x 1rem
    --bs-popover-body-padding-y .5rem

// note
.note
  border-left 0.35rem solid
  margin 1.5rem 0
  transition color .2s ease-in-out
  a
    color var(--text-color)
    transition color .2s ease-in-out

  *:last-child
    margin-bottom 0

// group-image
.group-image-container
  margin 1.5rem auto
  img
    width: 100%
    height: 100%
    object-fit: cover
  .image-adapter
    padding-bottom: 100%
    position: relative
    > div
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      z-index: 2
