<% if (theme.valine.appId && theme.valine.appKey) { %>
  <div id="valine"></div>
  <script type="text/javascript">
    Lnote.utils.loadComments('#valine', function() {
      Lnote.utils.createScript('<%= url_join(theme.static_prefix.valine, 'Valine.min.js') %>', function() {
        var options = Object.assign(
          <%- JSON.stringify(theme.valine || {}) %>,
          {
            el: "#valine",
            path: <%= theme.valine.path %>
          }
        )
        new Valine(options);
        Lnote.utils.waitElementVisible('#valine .vcontent', () => {
          var imgSelector = '#valine .vcontent img:not(.vemoji)';
          Lnote.plugins.imageCaption(imgSelector);
          Lnote.plugins.fancyBox(imgSelector);
        })
      });
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
<% } %>
